body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(173, 173, 173) 100%);
    color: white;
}

h1 {
    font-size: 3em;
    color: #263F45;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    perspective: 560px;
    width: 100%;
    max-width: 320px;
    height: 540px;
    cursor: pointer;
    border: 2px solid #263F45;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(231, 231, 231, 0.7);
    color: #1a191a;
    transform-style: preserve-3d;
    transition: transform 2s; 
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
    color: transparent; 
    visibility: hidden; 
}

.card.flipped .card-back {
    visibility: visible; 
    background-color: transparent; 
    color: transparent; 
}


.card.flipped  {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.name {
    font-size: 1.5rem;
    word-break:normal;
    border-bottom: solid #263F45;
    margin: 0.8rem;
}

.profilePic {
    width: 125px;
    align-self: center;
    border-radius: 50%;
    margin-top: 20px;
    background-color: beige; 
}


.promo {
    font-size: 1rem;
    color: #263F45;
    border-top: solid #263F45 ;
    padding: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #ff3ec9;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 0.8em;
}

.links img {
    width: 32px;
    height: 32px;
}

.links a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.excerpt {
    font-size: 11px;
    padding: 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray; 
}